<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Root -->
    <menuitem id="menu_parent_root"
        name="Freight Forwarding"
        web_icon="freight_forwarding,static/description/icon.png"
        action="action_freight_sea_quotation" />

    <menuitem id="menu_parent_air" name="Air"
        parent="menu_parent_root"
        sequence="30" />

    <menuitem id="menu_parent_sea" name="Sea"
        parent="menu_parent_root"
        sequence="40" />

    <menuitem id="menu_parent_master" name="Master"
        parent="menu_parent_root"
        sequence="70" />
</odoo>
